name: run

on:
  workflow_dispatch:
  schedule:
    - cron: '0/30 * * * *'
  pull_request:
    paths:
      - .github/workflows/run.yaml
  push:
    branches:
      - main
    paths:
      - .github/workflows/run.yaml

jobs:
  renovate-merge-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: int128/renovate-merge-bot@b5fc536110b3af05e1a3ea1d0f173073d1941882 # v1.68.0
        with:
          github-app-id: ${{ secrets.BOT_APP_ID }}
          github-app-private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
