name: run

on:
  workflow_dispatch:
  schedule:
    - cron: '0/30 * * * *'
  pull_request:
    paths:
      - .github/workflows/run.yaml
  push:
    branches:
      - main
    paths:
      - .github/workflows/run.yaml

jobs:
  renovate-merge-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: int128/renovate-merge-bot@41755eccc6e4d10755a631c2384367edf4b1e751 # v1.64.0
        with:
          github-app-id: ${{ secrets.BOT_APP_ID }}
          github-app-private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
